.brand{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    height: 13rem;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 1%;
    background-color: rgb(245, 242, 242);
    align-items: center;
    border-radius: 30px;

    >div{
        width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 8rem;
    //   background-color: aqua;
        margin: 0px 0 0 10px   ;
       


        >img{
            object-fit: contain;
            width: 12rem;
            height: 8rem;
            border-radius: 30px;

        }
    }
}