@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Roboto:ital,wght@0,100;0,300;1,700&display=swap");
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  //   padding-top: 10px;
  background-color: rgb(19,25,33);
  list-style: none;
  .navbar_item_one{
    // display: flex;
>h1{
  color: white;
  >span{
color: rgb(241, 216, 101) 
  };
}
  }

  // box-shadow: 1px 1px 1px 1px rgb(187, 165, 252);
  .navbar_item_two {
    display: flex;
    flex: 0.8;
    justify-content: space-evenly;
    .lnk {
      color: white;
      text-decoration: none;
      font-family: Roboto;
      font-weight: 900;
      font-size: 20px;
      text-transform: uppercase;
  
    }

    > li > input {
      border: none;
      outline: none;
      width: 24rem;
      height: 1.5rem;
    }
    ::placeholder {
      font-family: roboto;
      text-align: center;
      font-size: 13px;
      color: blue;
      opacity: 0.4;
      text-transform: uppercase;
    }
    > li > img {
      position: absolute;
      left: 60.9rem;
      width: 26.3px;
     background-color: rgb(241, 241, 74);
      cursor: pointer;
    }
  }

  .navbar_item_three {
    display: flex;
    height: 3rem;
    width: 60px;
    // justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
.lnk{

  color: whitesmoke;
  > img {
    border-radius: 30px;
    width: 40px;
    background-color: aliceblue;
    cursor: pointer;
    position: relative;
    right: -50px;
  }
}

>p{
  position: absolute;
  top: -20px;
  color: red;
  right: 110px;
  font-size: 25px;
}
  }

  .navbar_item_four {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 35px;
    height: 30px;
    border-radius: 30px;
    // background-color: rgb(55, 0, 255);
    .lnk{

      > img {
        width: 40px;
        background-color: whitesmoke;
        border-radius: 30px;
        cursor: pointer;
        position: relative;
        right: 15px;
      }
    }
  }
}
